<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>azarbayejani - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width,user-scalable=no" />
    <link rel="stylesheet" href="/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="spacer15"></div>
      <div class="expand">
        <div class="inner center"><h1>AZARBAYEJANI</h1></div>
      </div>
      <div class="top-border">
      </div>


      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="center">
            <h2 class="inline smaller"><a href="/">HOME</a> | </h2>
            <h2 class="inline smaller"><a href="/media.html">MEDIA</a> | </h2>
            <h2 class="inline smaller"><a href="/info.html">INFO</a></h2>
          </div>
          <hr class="black" />
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
